%form{:action => '/devices/add', :method => 'POST'}
  %p
    %label{:for => 'name'} Give your toy a descriptive name
    %input{:type => 'text', :name => 'device[name]', :id => 'name'}
  %p
    %label{:for => 'address'} Please enter your toy's Mac Address
    %input{:type => 'text', :name => 'device[id]', :id => 'address'}
  %p
    %input{:type => 'submit', :value => 'Create'}