%form{:action => "/tracks/#{device.id}/add", :method => "POST"}
  %p
    %label{:for => "event"} When your child...
    %select{:name => "track[event]", :id => "event"}
      - events.each do |key, value|
        %option{:value => key} #{value}
  %p
    %label{:for => "url"} Play this sound. (copy & paste URL from SoundCloud)
    %input{:type => 'text', :name => 'track[url]', :id => 'url'}
  %div.form-buttons-big
    %input{:type => 'submit', :value => 'Create', :class => 'big-save'}