%p Hello #{current_user.username}

%p You have registered #{current_user.devices.length} device(s).

%h2 Your Devices
- if current_user.devices
  %ul
    - current_user.devices.each do |device|
      %li
        %a{:href => "/tracks/#{device.id}"}= device.name
- else
  %p You don't have any devices registered.
%p
  %a{:href => '/devices/add'}Add a Device
%p
  %a{:href => '/logout'} Logout