%p Hello #{current_user.username}

%p Welcome to ToyBox. May your children never know loneliness again.

- if current_user.devices
  %p You have registered #{current_user.devices.length} toy(s).
  %h3 Your Toys
  %ul
    - current_user.devices.each do |device|
      %li
        %a{:href => "/tracks/#{device.id}"}= device.name
  %a{:href => '/devices/add'}Add a Toy
- else
  %p To get started, <a href="/devices/add">add a Toy</a>.
