%p
  Welcome to ToyBox. May your children never know loneliness.

%p
  Log in with your SoundCloud account to begin.
  
%p
  %a{:href => soundcloud_client.authorize_url, :id => 'soundcloud_login'} Sign in with SoundCloud